extends helpers/template.pug

block sections


  .sector

    section.services
        h2 Services I Offer

        - const services = ['wedding', "fashion", "landscape", "studio", "outdoor", "products"];

          each service in services
            div
              .service-image()
                img(src=`opt-images/stock/services_${service}.webp` alt=service)
                h4= service  + ' photos'
              button(modal="book-session") book this

    section.expertise
      h2 My Expertise Area
      div
        svg(icon="photo-edit")
        h4 Editing
        span Enhancing your photo to it's highest beauty.
        
      div
        svg(icon="video")
        h4 Videography
        span Quality shoots for all your skits and events.

      div
        svg(icon="camera")
        h4 Photography
        span You don't even have to be photogenic.

      div
        svg(icon="frame")
        h4 Framing 
        span Framing and all other finishing touches.
  
  include helpers/carousel.pug

block scripts 
  script(src="javascript/index.js", type="module")

  //- include helpers/hire_me.pug
