extends helpers/template.pug 

block sections 
  section#services
    div
      h1 Services I Offer 
      
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nobis, id eum doloremque necessitatibus praesentium deserunt in quae unde magni?

    .sector
      section.services
        h2 Services I Offer
        div
          .service-image
            img(src="images/stock/services_wedding.webp", alt="")
            h4 Weddings
            span I take spcial unforgetable momments at your wedding. 
        div
          .service-image
            img(src="images/stock/services_fashion.jpg", alt="")
          h4 Fashion
        div
          .service-image
            img(src="images/stock/services_landscape.jpg", alt="")
          h4 Landscape
        div
          .service-image
            img(src="images/stock/services_studio.jpg", alt="")
          h4 Studio
        div
          .service-image
            img(src="images/stock/services_outdoor.png", alt="")
          h4 Outdoor
        div
          .service-image
            img(src="images/stock/services_products.png", alt="")
          h4 Products


      section.expertise
        h2 My Expertise Area
        div
          svg(icon="photo-edit")
          h4 Editing
          span Enhancing your photo to it's highest beauty.
          
        div
          svg(icon="video")
          h4 Videography
          span Quality shoots for all your skits and events.

        div
          svg(icon="camera")
          h4 Photography
          span You don't even have to be photogenic.

        div
          svg(icon="frame")
          h4 Framing 
          span Framing and all other finishing touches.



      section.faq 
        h2 Frequetly Asked Questions 


        