:root {
  --pad-small: 1rem;
  --pad-medium: 2rem;
  --pad-big: 3rem;
  --rad-big: 1rem;
  --rad-medium: .6rem;
  --rad-small: .3rem;
}

:where(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "laila", Arial, Helvetica, sans-serif;
  transition: all 300ms ease-in-out;
}

body {
  --turquoise: #02e6e7;
  --blue: #00507d;
}

li {
  list-style-type: none;
}

:where(span) {
  color: #555;
}

:where(h1, h2, h3) {
  color: #2f2f2f;
}

:where(button) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  border: none;
  padding: calc(var(--pad-small) * 0.8) var(--pad-small);
  border-radius: var(--rad-small);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
:where(button):hover {
  filter: hue-rotate(380deg);
}

section {
  padding: calc(var(--pad-medium) * 0.8);
  border-radius: var(--rad-big);
  background-color: rgba(255, 255, 255, 0.3333333333);
  box-shadow: 0 1px 3px rgba(51, 51, 51, 0.2);
}
section img {
  border-radius: var(--rad-small);
}

.profile {
  gap: 1rem;
  align-self: start;
}
.profile .prof-img {
  height: 100%;
  align-self: flex-start;
  overflow: hidden;
  flex-shrink: 100;
}
.profile img {
  width: 100%;
  height: 100%;
}
.profile .prof-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  gap: 1rem;
}
.profile .prof-contact button:first-child {
  background-color: #00507d;
}
.profile .prof-contact button:first-child * {
  color: #fff !important;
}
.profile .prof-contact address {
  display: flex;
  grid-column: span 2;
  gap: 1rem;
  color: #00507d;
}
.profile .prof-contact address a {
  position: relative;
  display: grid;
  align-items: center;
  padding: 0.3rem;
  border-radius: 4px;
}
.profile .prof-contact address a svg {
  stroke-width: 1pt;
  color: #00507d;
}
.profile .prof-contact address a:hover,
.profile .prof-contact address a :target {
  background-color: #00507d;
}
.profile .prof-contact address a:hover svg,
.profile .prof-contact address a :target svg {
  stroke-width: 2pt;
  color: #eee;
}
.profile .prof-contact address a:hover::after,
.profile .prof-contact address a :target::after {
  visibility: hidden;
}
.profile .prof-contact address a::after {
  content: "";
  height: 0.2rem;
  width: 0.8rem;
  background-color: #00507d;
  position: absolute;
  bottom: -2px;
  border-radius: 14px;
  left: 50%;
  transform: translateX(-50%);
}

#gallery {
  grid-column: span 2;
}
#gallery .recent-shots {
  height: var(--kwasiampanin);
}
#gallery .all-other-photos {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  gap: 0.4rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 19rem;
}
#gallery .all-other-photos img {
  max-width: 4rem;
  cursor: pointer;
}
#gallery .all-other-photos img.js {
  border: solid 3px #222;
  box-shadow: 1px 2px 5px #333;
  transform: scale(110%);
  padding: 0;
}
#gallery .car-assets ul {
  gap: 0;
}
#gallery .car-assets ul li {
  border-radius: 0;
}

.recent-shots {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}
.recent-shots .recent-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
.recent-shots .recent-head a {
  display: flex;
}
.recent-shots .recent-photo {
  width: 100%;
  height: 100%;
}

.photo-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.photo-carousel > * {
  position: absolute;
  inset: 1;
}
.photo-carousel img {
  width: 100%;
  max-width: 660px;
}
.photo-carousel .left-unactive {
  transform: translateY(-5rem) scale(70%);
  perspective: 500px;
}
.photo-carousel .left-unactive img {
  transform: rotateX(-30deg);
  filter: grayscale(100) blur(4px);
}
.photo-carousel .left-unactive img.js {
  animation: car-img-in 100ms ease-in-out 1 alternate;
}
.photo-carousel .active {
  z-index: 1;
  perspective: 500px;
}
.photo-carousel .active img.js {
  animation: active-car-in 100ms ease-in-out 1 alternate;
}
.photo-carousel .right-unactive {
  transform: translateY(5rem) scale(70%);
  perspective: 500px;
}
.photo-carousel .right-unactive img {
  transform: rotateX(30deg);
  filter: grayscale(100) blur(4px);
}
.photo-carousel .right-unactive img.js {
  animation: car-img-in 100ms ease-in-out 1 alternate;
}
.photo-carousel .car-assets {
  display: flex;
  z-index: 1;
  height: 80%;
  width: 100%;
}
.photo-carousel .car-assets .est-wst {
  display: flex;
  width: 100%;
  justify-content: center;
}
.photo-carousel .car-assets svg {
  position: absolute;
  cursor: pointer;
  color: #111;
  background-color: #fff;
  backdrop-filter: blur(1px);
}
.photo-carousel .car-assets svg:hover, .photo-carousel .car-assets svg:target {
  color: #222;
  scale: 125%;
}
.photo-carousel .car-assets .east {
  bottom: 0;
}
.photo-carousel .car-assets ul {
  display: grid;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
  gap: 0.3rem;
}
.photo-carousel .car-assets ul li {
  width: 0.3rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #888;
}
.photo-carousel .car-assets ul li.active {
  background-color: #666;
  height: 3rem;
}
@keyframes car-img-in {
  to {
    transform: rotateX(40deg);
  }
}
@keyframes active-car-in {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-1rem) rotateX(-4deg);
  }
  from {
    opacity: 0.97;
    transform: translateY(1rem) rotateX(-4deg);
  }
}

.sector {
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr auto;
  gap: 1.7rem;
}
.sector section {
  height: unset;
  aspect-ratio: unset;
  padding: 1.2rem;
}
.sector .services {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto 1fr 1fr;
  gap: 1rem;
}
.sector .services .service-image {
  display: grid;
  justify-items: center;
  background-color: #fff;
  border-radius: var(--rad-medium);
  padding: 0.55rem 0.23rem 2rem 0.23rem;
  box-shadow: 0 3px 5px -2px rgba(51, 51, 51, 0.2);
  margin-bottom: 0.3rem;
  aspect-ratio: 8/13;
}
.sector .services h2 {
  grid-column: span 3;
}
.sector .services h4 {
  font-weight: 400;
  text-align: center;
}
.sector .services img {
  width: 95%;
  border-radius: calc(var(--rad-small) - 1px);
  aspect-ratio: 1;
}
.sector .expertise {
  display: grid;
  gap: 1rem;
}
.sector .expertise h2 {
  flex-shrink: 0;
}
.sector .expertise div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.sector .expertise div div {
  display: flex;
}
.sector .expertise div span {
  font-size: 80%;
}
.sector .expertise div svg {
  flex-shrink: 0;
  height: 2.3rem;
  width: 2.3rem;
  color: #456;
}

#services {
  grid-column: span 2;
}
#services .sector section {
  box-shadow: none;
}

.faq {
  grid-column: 2/span 2;
  display: grid;
  place-items: center;
  gap: 2rem;
}
.faq > img {
  max-width: 90%;
}

.QnA {
  display: grid;
  gap: 3rem;
  width: 100%;
}
.QnA > div {
  padding: 2rem 0;
  border-bottom: dashed 1px #666;
}
.QnA P {
  max-width: 80%;
}
.QnA div.q {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: 80%;
  background-color: #00507d33;
  justify-self: start;
  padding: 2rem;
  border-radius: var(--rad-big) var(--rad-big) var(--rad-big);
  color: #234;
}
.QnA div.q .person {
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.2666666667);
  padding: 0.6rem 0.4rem;
  border-radius: var(--rad-big);
  margin-left: -1rem;
}
.QnA div.q .person svg {
  color: #fff;
}
.QnA div.q p {
  min-width: 300px;
}
.QnA p.a {
  padding: 0.3rem 2rem;
  color: #fff;
  box-shadow: 3px 4px 8px rgba(51, 51, 51, 0.4666666667);
  float: right;
  background-color: #00507d;
  margin-top: -1rem;
  justify-self: end;
  min-width: 200px;
  text-align: center;
  border-radius: var(--rad-big) 0 var(--rad-big) var(--rad-big);
}
.QnA p.h {
  display: none;
}

#hire-me {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  overflow: clip;
}
#hire-me .hire-head {
  width: var(--hire-head-width);
  position: absolute;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  background-color: #00507d;
  padding: 0 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  box-shadow: 4px 0 6px -3px rgba(0, 34, 68, 0.8);
  border-radius: var(--rad-medium) 0 0 var(--rad-medium);
  cursor: pointer;
  z-index: 1;
  transition: all 200ms ease-in-out;
  /*@keyframes visi-come {
    to{
    }
  }*/
}
#hire-me .hire-head strong {
  text-wrap: nowrap;
  color: #02e6e7 !important;
}
#hire-me .hire-head svg {
  display: none;
  stroke-width: 0.2rem;
  width: 3.4rem;
  height: 2rem;
  color: #02e6e7 !important;
}
#hire-me .hire-head:hover {
  width: calc(var(--hire-head-width) + 58px);
}
#hire-me .hire-head:hover svg {
  display: unset;
}
#hire-me .hire-head:hover svg path:nth-child(2),
#hire-me .hire-head:hover svg path:nth-child(3) {
  animation: -HH-svg-arrow-move 250ms ease-in-out 100ms 1 alternate forwards;
}
#hire-me .hire-head:hover svg path:first-child {
  animation: -HH-svg-arc-move 170ms linear 90ms 1 alternate forwards;
}
@keyframes -HH-svg-arrow-move {
  to {
    transform: translateX(0.25rem);
  }
}
@keyframes -HH-svg-arc-move {
  to {
    transform: translateX(-0.12rem);
  }
}
#hire-me .marquee:not(b),
#hire-me strong,
#hire-me span {
  font-family: "Acme" !important;
  font-size: 2rem;
}
#hire-me .hire-text {
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  float: right;
}
#hire-me .hire-text .marquee {
  display: flex;
  align-items: center;
  gap: 5rem;
  animation: hire-me-marquee 22s linear infinite;
}
#hire-me .hire-text span {
  color: #00507daa !important;
}
#hire-me .hire-text b {
  color: #00507dee;
}
@keyframes hire-me-marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-150%);
  }
}

body {
  background-color: #02e6e711;
  overflow: hidden;
  height: 100lvh;
  position: relative;
  background: linear-gradient(45deg, #00507d33, #02e6e733);
}
body::before {
  content: "";
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  inset: 15%;
  background: linear-gradient(45deg, #00507d66 10%, #02e6e711 10%, #02e6e711 60%, #02e6e769 50%);
  filter: blur(40px);
  background-size: 100%;
  animation: body-back 17s ease-in-out infinite alternate;
}
body::after {
  content: "";
  position: absolute;
  inset: 0;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  z-index: -1;
  background-image: url(images/stock/distress-sand-overlay.png);
  background-repeat: repeat;
  background-size: 40%;
  animation: body-sand 36s ease-in-out infinite alternate;
  filter: blur(1px);
  opacity: 0.08;
}

@keyframes body-sand {
  to {
    transform: rotate(360deg);
  }
}
@keyframes body-back {
  from {
    background-size: -300%;
    transform: rotate(-20deg) scale(80%) translate(-4rem);
  }
  to {
    background-size: 300%;
    transform: rotate(120deg) scale(120%);
  }
}
.container {
  height: 100%;
  overflow-y: scroll;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding: var(--pad-medium);
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  gap: 1.7rem;
}

svg {
  background-color: rgba(102, 102, 102, 0.2666666667);
  border-radius: var(--rad-small);
  animation: svg-pulse-load 400ms ease-in-out infinite alternate;
  max-width: 2.3rem;
  max-height: 2.3rem;
}

svg[width] {
  background-color: unset;
  animation: none;
  max-width: unset;
  max-height: unset;
}

@keyframes svg-pulse-load {
  to {
    background-color: rgba(85, 85, 85, 0.1333333333);
  }
}
header {
  flex-grow: 100;
  flex-shrink: 0;
  margin-top: 1rem;
  grid-column: span 3;
  display: flex;
  box-sizing: content-box;
  width: 90%;
  height: 4rem;
  position: relative;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(68, 68, 68, 0.3333333333);
  border-radius: var(--rad-medium);
  padding: calc(var(--pad-small) * 0.5) var(--pad-small);
  justify-content: space-between;
  align-items: start;
  transition: all 250ms ease-in-out;
}
header > li {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header.js {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 2rem;
  justify-content: space-between;
}
header.js > li {
  display: none;
}
header.js nav {
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: center;
  opacity: 0;
  position: relative;
  top: 10%;
  transform: scale(100%, 50%) translateY(-3rem);
  width: 60%;
  animation: nav-slide-in 200ms ease-in-out 200ms forwards;
}
header.js nav ul {
  display: grid;
}
header.js nav li {
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
@keyframes nav-slide-in {
  to {
    opacity: 1;
    transform: unset;
  }
}
header svg {
  color: #999;
  width: 2rem;
  height: 2rem;
}
header .head-logo {
  height: 100%;
  align-self: center;
}
header .head-logo img {
  height: 3.4rem;
  display: grid;
}
header nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header nav ul {
  display: flex;
  gap: 2rem;
}
header nav.js {
  display: none;
}
header li, header a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 600;
  transition: all 140ms ease-in-out 100ms;
  cursor: pointer;
  border-radius: var(--rad-small);
  text-decoration: none;
  /*&:hover {
    background-color: #e0e3ea;

    * {
      color: #888;
    }
  }*/
}
header li span, header a span {
  color: #666;
}
header li.js,
header li a:not(a.js):hover, header a.js,
header a a:not(a.js):hover {
  background-color: #a0a8b0;
  padding: calc(var(--pad-small) * 0.3) var(--pad-small);
  gap: 1rem;
}
header li.js *,
header li a:not(a.js):hover *, header a.js *,
header a a:not(a.js):hover * {
  color: #fff;
}
header li.js svg,
header li a:not(a.js):hover svg, header a.js svg,
header a a:not(a.js):hover svg {
  transform: scale(90%);
}
header li.js span,
header li a:not(a.js):hover span, header a.js span,
header a a:not(a.js):hover span {
  font-size: 120%;
}
header .book-dark.js {
  display: flex;
  justify-content: end;
}
header .book-dark.js .book-a-session {
  display: flex;
}
header .book-dark.js .hamburger {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}
header .book-dark.js .hamburger * {
  color: #333;
}
header .book-a-session.js {
  display: none;
}
header button {
  box-shadow: 0 1px 2px rgba(68, 68, 68, 0.2666666667);
  background-color: #001D2D;
  height: 90%;
}
header button span {
  color: #ddd !important;
}
header button svg:not([icon=menu-2]) {
  animation: head-btn-svg-shake 3s ease-in-out infinite alternate;
}
header button svg:not([icon=menu-2]) path:first-child {
  animation: head-btn-path-scale 3s ease-in 6s infinite alternate;
}
@keyframes head-btn-path-scale {
  0% {
    transform: translate(-30%, -30%) scale(1.6);
    fill: #ddd;
  }
  7% {
    transform: none;
    fill: none;
  }
  100% {
    transform: none;
  }
}
@keyframes head-btn-svg-shake {
  5% {
    transform: skewY(-15deg);
  }
  10% {
    transform: none;
  }
  100% {
    transform: skewY(15deg);
  }
}
header .hamburger.js svg path:nth-child(1) {
  transform: rotate(-45deg) translate(-50%, 0%);
}
header .hamburger.js svg path:nth-child(2) {
  transform: rotate(-130deg) translate(-45%, 0%);
}
header .hamburger.js svg path:nth-child(3) {
  transform: rotate(45deg) translate(20%, -30%);
}

footer {
  grid-column: span 3;
  text-wrap: wrap;
  text-align: center;
  margin-top: 4rem;
}

#book-session {
  position: fixed;
  inset: 0;
  background-color: rgba(51, 51, 51, 0.2);
  padding: 1rem;
}

@media screen and (max-width: 650px) {
  .sections {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  .recent-shots {
    height: var(--kwasiampanin);
    flex-shrink: 0;
  }
}
@media screen and (min-width: 650px) and (max-width: 1100px) {
  .sections {
    grid-template-columns: 1fr 1fr;
  }
  .sections #hire-me {
    grid-column: span 2;
  }
  .sections .recent-shots {
    height: var(--kwasiampanin);
    grid-column: span 2;
  }
  .sections footer {
    grid-column: span 2;
  }
  .sections .left-unactive {
    transform: translateY(-7rem) scale(70%);
    perspective: 600px;
  }
  .sections .left-unactive img {
    transform: rotateX(-20deg);
  }
  .sections .right-unactive {
    transform: translateY(7rem) scale(70%);
    perspective: 600px;
  }
  .sections .right-unactive img {
    transform: rotateX(20deg);
  }
}
@media screen and (min-width: 800px) {
  .recent-shots .left-unactive {
    transform: translateY(-7rem) scale(70%);
    perspective: 600px;
  }
  .recent-shots .left-unactive img {
    transform: rotateX(-20deg);
  }
  .recent-shots .right-unactive {
    transform: translateY(7rem) scale(70%);
    perspective: 600px;
  }
  .recent-shots .right-unactive img {
    transform: rotateX(20deg);
  }
  .recent-shots .car-assets {
    height: 70%;
  }
}