:where(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "laila", Arial, Helvetica, sans-serif;
  transition: all 200ms ease-in-out;
}

body {
  --turquoise: #02e6e7;
  --blue: #00507d;
}

li {
  list-style-type: none;
}

:where(span) {
  color: #555;
}
:where(h1, h2, h3) {
  color: #2f2f2f;
}

:where(button) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  border: none;
  padding: calc(var(--pad-small) * 0.8) var(--pad-small);
  border-radius: var(--rad-small);
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    // filter: saturate(290%) brightness(120%);
    filter: hue-rotate(380deg);
  }
}
