/// Index page

section {
  padding: calc(var(--pad-medium) * 0.8);
  border-radius: var(--rad-big);
  background-color: #ffffff55;
  box-shadow: 0 1px 3px #3333;

  img {
    border-radius: var(--rad-small);
  }
}

.profile {
  gap: 1rem;
  align-self: start;

  .prof-img {
    height: 100%;
    align-self: flex-start;
    overflow: hidden;
    flex-shrink: 100;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .prof-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    gap: 1rem;

    button:first-child {
      background-color: $blue;
      * {
        color: #fff !important;
      }
    }

    address {
      display: flex;
      grid-column: span 2;
      gap: 1rem;
      color: $blue;

      a {
        position: relative;
        display: grid;
        align-items: center;
        padding: 0.3rem;
        border-radius: 4px;

        svg {
          stroke-width: 1pt;
          color: $blue;
        }

        &:hover,
        :target {
          background-color: $blue;
          svg {
            stroke-width: 2pt;
            color: #eee;
          }

          &::after {
            visibility: hidden;
          }
        }

        &::after {
          content: "";
          height: 0.2rem;
          width: 0.8rem;
          background-color: $blue;
          position: absolute;
          bottom: -2px;
          border-radius: 14px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

#gallery{
  grid-column: span 2;

  .recent-shots{
    height: var(--kwasiampanin);
  }

  .all-other-photos{
    display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: flex-start;
      justify-content: center;
      gap: .4rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 19rem;


    img{
      max-width: 4rem;
      cursor: pointer;
    }

    img.js{
      border: solid 3px #222;
      box-shadow: 1px 2px 5px #333;
      transform: scale(110%);
      padding: 0;
    }
  }

  .car-assets{
    ul{
      gap: 0;
      li{
        border-radius: 0;
      }
    }
  }
}

.recent-shots {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;

  .recent-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;

    a {
      display: flex;
    }
  }

  .recent-photo {
    width: 100%;
    height: 100%;
  }
}

.photo-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  > * {
    position: absolute;
    inset: 1;
  }

  img {
    width: 100%;
    max-width: 660px;
  }

  .left-unactive {
    transform: translateY(-5rem) scale(70%);
    perspective: 500px;

    img {
      transform: rotateX(-30deg);
      filter: grayscale(100) blur(4px);
    }
    img.js {
      animation: car-img-in 100ms ease-in-out 1 alternate;
    }
  }
  .active {
    z-index: 1;
    perspective: 500px;

    img.js {
      animation: active-car-in 100ms ease-in-out 1 alternate;
    }
  }
  .right-unactive {
    transform: translateY(5rem) scale(70%);
    perspective: 500px;

    img {
      transform: rotateX(30deg);
      filter: grayscale(100) blur(4px);
    }
    img.js {
      animation: car-img-in 100ms ease-in-out 1 alternate;
    }
  }

  .car-assets {
    display: flex;
    // justify-content: center;
    z-index: 1;
    height: 80%;
    width: 100%;

    .est-wst {
      display: flex;
      width: 100%;
      justify-content: center;

    }

    svg {
      position: absolute;
      cursor: pointer;
      color: #111;
      // padding: 0 1rem;
      background-color: #fff;
      backdrop-filter: blur(1px);
      // border: solid 1px #333;

      &:hover,
      &:target {
        color: #222;
        scale: 125%;
      }
    }
    .east {
      bottom: 0;
    }

    ul {
      display: grid;
      position: absolute;
      justify-content: center;
      top: 50%;
      left: -1rem;
      transform: translateY(-50%);
      gap: 0.3rem;

      li {
        width: 0.3rem;
        height: 1rem;
        border-radius: 1rem;
        background-color: #888;

        &.active {
          background-color: #666;
          height: 3rem;
        }
      }
    }
  }
  

  @keyframes car-img-in {
    to {
      transform: rotateX(40deg);
    }
  }
  @keyframes active-car-in {
    from {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(-1rem) rotateX(-4deg);
    }
    from {
      opacity: 0.97;
      transform: translateY(1rem) rotateX(-4deg);
    }
  }
}

.sector{
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr auto;
  gap: 1.7rem;

  section {
    height: unset;
    aspect-ratio: unset;
    padding: 1.2rem;
  }

  .services {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto 1fr 1fr;
    gap: 1rem;

    .service-image {
      display: grid; 
        justify-items: center;
      background-color: #fff;
      border-radius: var(--rad-medium);
      padding: 0.55rem 0.23rem 2rem 0.23rem;
      box-shadow: 0 3px 5px -2px #3333;
      margin-bottom: 0.3rem;
      aspect-ratio: 8/13;
    }

    h2 {
      grid-column: span 3;
    }
    h4 {
      font-weight: 400;
      text-align: center;
    }

    img {
      width: 95%;
      border-radius:calc( var(--rad-small) - 1px  );
      aspect-ratio: 1;
    }
  }

  .expertise {
    display: grid;
    gap: 1rem;
    h2 {
      flex-shrink: 0;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      margin-bottom: 1rem;

      div {
        display: flex;
      }
      span {
        font-size: 80%;
      }

      svg {
        flex-shrink: 0;
        height: 2.3rem;
        width: 2.3rem;
        color: #456;
      }
    }
  }
}

#services{
  grid-column: span 2;

  .sector section{
    box-shadow: none;
  }

}
.faq{
  grid-column: 2 / span 2;
  display: grid;
    place-items: center;
    gap: 2rem;

  > img{
    max-width: 90%;
  }
}

.QnA{
  display: grid;
  gap: 3rem;
  width: 100%;

  > div{
    padding: 2rem 0;
    border-bottom: dashed 1px #666;
  }
  
  P{
    max-width: 80%;
  }
  div.q{
    display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
    width: 80%;
    // box-shadow: -2px -2px 4px -1px #333;
    // border: solid 1px #3333;
    background-color: #{$blue}33;
    justify-self: start;
    padding: 2rem;
    border-radius:  var(--rad-big) var(--rad-big) var(--rad-big);
    // color: $blue;
    color: #234;

    .person{
      display: grid;
        place-items: center;
      background-color: #fff4;
      padding: .6rem .4rem;
      border-radius: var(--rad-big);
      margin-left: -1rem;

      svg{
        color: #fff;
      }
    }

    p{
      min-width: 300px;
    }
  }
  p.a{
    padding: .3rem 2rem;
    color: #fff;
    box-shadow: 3px 4px 8px  #3337;
    float: right;
    background-color: #{$blue};
    margin-top: -1rem;
    justify-self: end;
    min-width: 200px;
    text-align: center;
    // background-color: #{$turquoise};
    border-radius: var(--rad-big) 0 var(--rad-big) var(--rad-big);
    // color: #567;
  }
  p.h{display: none}
}


#hire-me {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  overflow: clip;

  .hire-head {
    width: var(--hire-head-width);
    position: absolute;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    background-color: $blue;
    padding: 0 1.3rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    box-shadow: 4px 0 6px -3px #024c;
    border-radius: var(--rad-medium) 0 0 var(--rad-medium);
    cursor: pointer;
    z-index: 1;
    transition: all 200ms ease-in-out;

    strong {
      text-wrap: nowrap;
      color: $turquoise !important;
    }

    svg {
      display: none;
      stroke-width: 0.2rem;
      width: 3.4rem;
      height: 2rem;
      color: $turquoise !important;
    }

    &:hover {
      width: calc(var(--hire-head-width) + 58px);

      svg {
        display: unset;
        path:nth-child(2),
        path:nth-child(3) {
          animation: -HH-svg-arrow-move 250ms ease-in-out 100ms 1 alternate
            forwards;
        }
        path:first-child {
          animation: -HH-svg-arc-move 170ms linear 90ms 1 alternate forwards;
        }
      }
    }

    @keyframes -HH-svg-arrow-move {
      to {
        transform: translateX(0.25rem);
      }
    }
    @keyframes -HH-svg-arc-move {
      to {
        transform: translateX(-0.12rem);
      }
    }

    /*@keyframes visi-come {
      to{
      }
    }*/
  }
  .marquee:not(b),
  strong,
  span {
    font-family: "Acme" !important;
    font-size: 2rem;
  }

  .hire-text {
    white-space: nowrap;
    width: 90%;
    // padding-left: 9rem;
    overflow: hidden;
    float: right;

    .marquee {
      display: flex;
      align-items: center;
      gap: 5rem;
      animation: hire-me-marquee 22s linear infinite;
    }

    span {
      color: #{$blue}aa !important;
    }

    b {
      color: #{$blue}ee;
    }
  }

  @keyframes hire-me-marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-150%);
    }
  }
}
