
section.recent-shots
  div.recent-head
    h2 Recent Shots
    a(href="gallery.html") All Photos 
      svg(icon="chevrons-right") 

  .recent-photo 
    .photo-carousel 
      .left-unactive.east
      .active
      .right-unactive.west

      .car-assets 
        .est-wst
          svg(icon="arrow-narrow-left", class="east")
          svg(icon="arrow-narrow-right", class="west")
        
        ul