
section.recent-shots
  div.recent-head
    h2 Recent Shots
    a(href="gallery.html") All Photos 
      svg(icon="chevrons-right") 

  .recent-photo 
    .photo-carousel 
      .left-unactive
      .active
      .right-unactive

      .car-assets 
        .est-wst 
          svg(icon="chevron-down", class="east")
          svg(icon="chevron-up", class="west")
        
        ul