section#hire-me
  .hire-head 
    strong Lets Talk
    svg(icon="arrow-left-from-arc")
  
  .hire-text
    .marquee
      div 
        b Call &#128222; /
        b Text &#128187;
        span &nbsp;&nbsp;&nbsp;&nbsp; Lets talk business. 
        b Click here &#128072;

      div 
        b Call &#128222; /
        b Text &#128187;
        span &nbsp;&nbsp;&nbsp;&nbsp; Lets talk business. 
        b Click here &#128072; 