section.profile
  div.profile-img
    img(src="opt-images/gallery/manuel_himself.webp", alt="Profile Picture", width="400")
  h1 Manuel Jason
  
  article Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta totam corrupti pariatur omnis numquam aspernatur modi. Facere veniam beatae ut.

  .prof-contact 
    button 
      span Call me
      svg(icon="phone-call")
    button 
      span Mail me
      svg(icon="mail")

    address
      a(href="##")
        svg(icon="brand-facebook")

      a(href="##")
        svg(icon="brand-telegram")

      a(href="##")
        svg(icon="brand-whatsapp")

      a(href="##")
        svg(icon="map-pin")

      a(href="##")
        svg(icon="brand-instagram")
